@model ArtworkDetailViewModel

@{
    ViewData["Title"] = "ArtworkDetail";
    Layout = "_Layout";
}

<header id="gtco-simple-header" class="gtco-cover" role="banner" style="background-color: black;">
</header>

<div class="art-details">
    <div class="art-image">
        <img src="~/imagesArt/@Model.DetailArtwork.ImageName" />
    </div>
    <div class="image-info">
        <h1>Name: @Model.DetailArtwork.ArtName</h1>
        <p>Artist name: <a asp-action="Profile" asp-controller="Community" asp-route-id="@Model.Member.MemberId">@Model.Member.Firstname @Model.Member.Lastname</a></p>
        <p>Made: @Model.DetailArtwork.Year</p>
        @if (@Model.DetailArtwork.Height == "Not")
        {
            <p>Size: @Model.DetailArtwork.Height @Model.DetailArtwork.Width</p>
        }
        else
        {
            <p>Size: @Model.DetailArtwork.Height x @Model.DetailArtwork.Width</p>
        }
        <p>Description: @Model.DetailArtwork.Description</p>
    </div>
</div>

<div class="art-container">
    <h2>Other works by this Artist</h2>
        @for (int i = 0; i < Model.ListOfArt.Count; i++)
        {
            <div class="view-art">
                <div class="artist-artwork">
                    <a class="fh5co-project-item" asp-action="Index" asp-controller="ArtworkDetail" asp-route-id="@Model.ListOfArt[i].ArtworkId">
                        <div class="artwork-img">
                            <img src="~/imagesArt/@Model.ListOfArt[i].ImageName" />
                        </div>
                    </a>
                    <div class="artwork-info">
                        <h3>@Model.ListOfArt[i].ArtName</h3>
                        @if (@Model.ListOfArt[i].Height == "Not")
                        {
                            <p>Size: @Model.ListOfArt[i].Height @Model.ListOfArt[i].Width</p>
                        }
                        else
                        {
                            <p>Size: @Model.ListOfArt[i].Height x @Model.ListOfArt[i].Width</p>
                        }
                    </div>
                </div>
            </div>
         }
</div>
