@model CommunityViewModel

@{
    ViewData["Title"] = "Community";
    Layout = "_Layout";
}

<header id="gtco-simple-header" class="gtco-cover" role="banner" style="background-color: black; width: 100%;">
</header>


<div class="community-container">
    <div class="members-container">
        @*<h1>Members</h1>
            @foreach (var member in Model.CommunityMembers)
            {

                <div class="member">
                    <div class="member-img">
                        <img src="image/@member.ProfilePicture" />
                    </div>

                    <div class="member-info">
                        <h2>@member.Firstname @member.Lastname</h2>
                        <p>@member.Email</p>
                        <a href="Community/Profile/@member.MemberId"><input type="submit" value="View profile" class="btn-primary-view" /></a>
                    </div>
                </div>
            }*@
        <input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search">
        <div class="col-12 col-md-7 align-self-center fh5co_mediya_right" id="noPaddingID">
            <div class="clearfix" id="fixed">
                <ul id="searchUL" style="display: none">
                    @for (int i = 0; i < Model.CommunityMembers.Count(); i++)
                    {
                        <li>
                            <a asp-action="Profile" asp-controller="Community" asp-route-id="@Model.CommunityMembers.ElementAt(i).MemberId">
                                <img class="search-Icon" src="image/@Model.CommunityMembers.ElementAt(i).ProfilePicture">
                                <p id="firstname">@Model.CommunityMembers.ElementAt(i).Firstname</p>
                                <p id="lastname">@Model.CommunityMembers.ElementAt(i).Lastname</p>
                                @*<div class="member-info">
                                        <h2>@Model.CommunityMembers.ElementAt(i).Firstname @Model.CommunityMembers.ElementAt(i).Lastname</h2>
                                        <p>@Model.CommunityMembers.ElementAt(i).Email</p>
                                        <a href="Community/Profile/@Model.CommunityMembers.ElementAt(i).MemberId"><input type="submit" value="View profile" class="btn-primary-view" /></a>
                                    </div>*@
                            </a>
                        </li>
                    }
                </ul>

            </div>
        </div>


        <div class="chat-container">
            <form action="#">
                <div class="row form-group">
                    <div class="col-md-12">
                        @*<label class="sr-only" for="messageBox">Message</label>*@
                        @*<textarea name="message" id="messageBox" cols="30" rows="10" class="form-control" placeholder="Write us something"></textarea>*@
                        <ul class="form-control" id="messageList" style="overflow: auto"></ul>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <input type="text" id="name" placeholder="Write your name">
                        <input type="text" id="message" placeholder="Write your message">
                    </div>

                </div>
                <div class="form-group">
                    <input type="button" id="sendMessageBtn" value="Send Message" class="btn btn-primary">
                </div>

            </form>
        </div>




    </div>
</div>



<script src="~/js/searchHandler.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/site.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
