@model ProfileViewModel

@using Microsoft.AspNetCore.Identity
@using DSU21_5.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<header id="gtco-simple-header" class="gtco-cover" role="banner" style="background-color: black;">
</header>

<div class="profile-page">

    <div class="gtco-section border-bottom">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 animate-box">
                        <img src="~/image/@Model.Member.ProfilePicture" fallback="~/images/profile.jpeg" alt="Profile Photo" class="profile-photo">
                        <h3 class="name-h3">@Model.Member.Firstname @Model.Member.Lastname</h3>
                        <div class="social-media-div" style="margin-bottom: 1%;">

                            @if (Model.Member.Facebook != null)
                            {
                                <a href="@Model.Member.Facebook" target="_blank">
                                    <img class="social-media" src="~/images/Facebook.png" />
                                </a>
                            }
                            @if (Model.Member.Twitter != null)
                            {
                                <a href="@Model.Member.Twitter" target="_blank">
                                    <img class="social-media" src="~/images/Twitter.png" />
                                </a>
                            }
                            @if (Model.Member.Instagram != null)
                            {
                                <a href="@Model.Member.Instagram" target="_blank">
                                    <img class="social-media" src="~/images/Instagram.png" />
                                </a>
                            }

                        </div>
                        <div class="description text-left-bio">
                            <p id="bio">@Model.Member.Bio</p>
                        </div>
                        @if (Model.DoesRelationshipExist == false && Model.CurrentUser != null)
                        {
                            <div class="form-group">

                                <form asp-action="SendFriendRequest" asp-route-id="@Model.Member.MemberId">
                                    <input type="submit" value="Add Friend" class="btn btn-primary" />
                                </form>
                            </div>
                        }
                    </div>

                        <div class="gtco-section border-bottom">
                            <div class="gtco-container">
                                <div class="row">

                                    <div class="artwork-container">
                                        <h3>Artworks</h3>
                                        @foreach (var item in Model.AllArtwork)
                                        {

                                            <picture>
                                                <img src="~/imagesArt/@item.ImageName">
                                            </picture>

                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>