@*@model DSU21_5.Models.Artwork*@
@model ProfileViewModel

@{
    ViewData["Title"] = "CreateArt";
    Layout = "_Layout";
}

<header id="gtco-simple-header" class="gtco-cover" role="banner" style="background-color: black; width: 100%;">
</header>

<h2>Showcase Your Artwork</h2>

<form asp-action="CreateArt" asp-controller="Profile" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <input asp-for="@Model.Artwork.ImageName" type="text" class="form-control1" placeholder="Image name">
        <input asp-for="@Model.Artwork.ArtName" type="text" class="form-control1" placeholder="Art Name">
        <br />
        <textarea asp-for="@Model.Artwork.Description" rows="4" cols="50" type="text" class="form-control1" placeholder="Add description"></textarea>
        <input type="checkbox" name="exhibit-checkbox" value="a" class="form-control1" runat="server" /> <label>Exhibit</label>
        <input asp-for="@Model.Artwork.ImageFile" type="file" accept="image/png,image/jpeg,image/jpg" class="form-control1">
        <span asp-validation-for="@Model.Artwork.ImageFile" class="text-danger"></span>
        <input type="submit" value="Upload" class="btn btn-primary" asp-route-id="@Model.Member.MemberId" />
    </div>
</form>
<div class="gtco-section border-bottom">
    <div class="artwork-container">
        <h4>Exhibit art</h4>

        @foreach (var item in Model.ListOfArtwork)
        {
            <div id="removeMe-@item.ArtworkId">
                <picture>
                    <img src="~/imagesArt/@item.ImageName">
                </picture>
                <form asp-action="DeleteArt" asp-route-id="@item.ArtworkId" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        }
    </div>
</div>
<script src="~/js/site.js"></script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

