@model ProfileViewModel

@{
    ViewData["Title"] = "CreateArt";
    Layout = "_Layout";
}

<header id="gtco-simple-header" class="gtco-cover" role="banner" style="background-color: black; width: 100%;">
</header>

<div class="col-md-12">
    <form asp-action="CreateExhibition" asp-controller="Profile" enctype="multipart/form-data" method="post" onsubmit="return jQueryAjaxUpdate(this);">
        <div class="form-group">
            <div class="col-md-5" id="type-art">
                <h2>Upload Artwork <br />to your Exhbition</h2>
                <div class="drop-zone">
                    <span class="drop-zone__prompt">Drop Image Here</span>
                    <input asp-for="@Model.Artwork.ImageFile" type="file" name="myFile" class="drop-zone__input">
                    <span asp-validation-for="@Model.Artwork.ImageFile" class="text-danger"></span>
                </div>
                <p><input id="input-art" asp-for="@Model.Artwork.ArtName" type="text" class="form-control1" placeholder="Art Name" required oninvalid="this.setCustomValidity('Please submit your artworks name!')" oninput="this.setCustomValidity('')" /></p>
                <p><input id="input-art" asp-for="@Model.Artwork.Height" type="text" class="form-control1" placeholder="Height(cm)" required oninvalid="this.setCustomValidity('Please submit the height of your artwork!')" oninput="this.setCustomValidity('')"></p>
                <p><input id="input-art" asp-for="@Model.Artwork.Width" type="text" class="form-control1" placeholder="Width(cm)" required oninvalid="this.setCustomValidity('Please submit the width of your artwork')" oninput="this.setCustomValidity('')"></p>
                <p><input id="input-art" asp-for="@Model.Artwork.Year" type="text" class="form-control1" placeholder="Year" required oninvalid="this.setCustomValidity('Please submit the year of your artwork!')" oninput="this.setCustomValidity('')"></p>
                <textarea asp-for="@Model.Artwork.Description" rows="4" cols="50" type="text" class="form-control1" placeholder="Description"></textarea>
                <label asp-for="@Model.Artwork.Type">Category: </label>
                <select runat="server" id="Type" name="category" required oninvalid="this.setCustomValidity('Select a category')" oninput="this.setCustomValidity('')">
                    <option value="" selected disabled hidden class="type-art">Type of artwork</option>
                    <option value="DigitalArt">Digital art</option>
                    <option value="Drawing">Drawing</option>
                    <option value="Painting">Painting</option>
                    <option value="Photography">Photography</option>
                    <option value="ReadyMade">Ready Made</option>
                    <option value="Sculpture">Sculpture</option>
                </select>
                <input type="submit" value="Add Artwork to your exhibition" class="btn btn-danger" asp-route-id="@Model.Member.MemberId"  id="artwork-button" />
                <span asp-validation-for="@Model.Artwork.ImageFile" class="text-danger"></span>
            </div>

        </div>
    </form>
    <div class="col-md-6" id="type-art-exhibit">
       <div class="form-group">
           @foreach (var item in Model.ArtworkConnectedToExhibition)
           {
               <div class="exhibit-art" id="@item.ImageName">
                   <picture>
                       <img src="~/imagesArt/@item.ImageName" id="image-exhibition">
                   </picture>
               </div>
           }
        </div>
    </div>
</div>
@if (Model.ArtworkConnectedToExhibition.Count == 0)
{
    <div class="col-md-12">
        <form asp-action="UploadExhibition" asp-controller="Profile" enctype="multipart/form-data" method="post">
            <div class="col-md-7">
                <div class="form-group" style="float: left;">
                    <p><input asp-for="@Model.Exhibit.Name" type="text" class="form-control1" placeholder="Exhibition name"></p>
                    <label for="start">Start date:</label>

                    <input asp-for="@Model.Exhibit.StartDate" type="date" class="start" runat="server" id="start" name="trip-start"
                           value="@Model.Start"
                           min="@Model.Start" max="@Model.Stop" />
                    <label for="start">Stop date:</label>

                    <input asp-for="@Model.Exhibit.StopDate" type="date" id="stop" name="trip-stop"
                           value="@Model.Stop"
                           min="@Model.Start" max="@Model.Stop"/>
                    <input type="hidden" value="@Model.Member.MemberId" class="btn btn-primary" asp-for="@Model.Member.MemberId" />
                    <input type="hidden" value="@Model.Member.Firstname" class="btn btn-primary" asp-for="@Model.Member.Firstname" />
                    <input type="hidden" value="@Model.Member.Lastname" class="btn btn-primary" asp-for="@Model.Member.Lastname" />
                    <input type="hidden" value="@Model.Member.Email" class="btn btn-primary" asp-for="@Model.Member.Email" />

                </div>
            </div>
            <div class="col-md-12" id="type-art-button">
                <input type="submit" value="Publish your exhibition" class="btn btn-danger" id="artwork-button" />
            </div>
        </form>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

