@*@model IEnumerable<DSU21_5.Models.Image>*@
@model ProfileViewModel
@using Microsoft.AspNetCore.Identity
@using DSU21_5.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

@{
    var user = await UserManager.GetUserAsync(User);
}


    <!--<tbody>-->
    @*@foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ImageId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ImageId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ImageId">Delete</a>
                    </td>
                    <td>
                        <img src="@("image/"+item.ImageName)"/>
                    </td>
                </tr>
        }*@
    <!--</tbody>-->
 
    <header id="gtco-simple-header" class="gtco-cover" role="banner" style="background-color: black;">
    </header>

    <div class="gtco-section border-bottom">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 animate-box">
                        <img src="~/image/@Model.ProfilePicture.ImageName" fallback="~/images/profile.jpeg" alt="Profile Photo" class="profile-photo">
                        <h3>@user.Firstname @user.Lastname</h3>
                        <div class="form-group">
                            <a asp-action="Create" asp-route-id="@user.Id"><input type="submit" value="Upload Profile Photo" class="btn btn-primary" ></a>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-push-1 animate-box">
                        <div class="gtco-contact-info">
                            <h3>Contact Information</h3>
                            <ul>
                                <li class="address">198 West 21th Street, <br> Suite 721 New York NY 10016</li>
                                <li class="phone"><a href="tel://1234567920">+ 1235 2355 98</a></li>
                                <li class="email"><a href="@user.Email">@user.Email</a></li>
                                <li class="icon-instagram"><a href="#">artinsta</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gtco-section border-bottom">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 animate-box">
                        <h3>Showcase Your Artwork</h3>
                        <div class="form-group">
                            <a asp-action="CreateArt" asp-route-id="@user.Id"><input type="submit" value="Upload Artwork" class="btn btn-primary"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="artwork-container">
                <h4>My Artworks</h4>
           
                @foreach (var item in Model.AllArtwork)
                {
                    <picture>
                        <img src="~/imagesArt/@item.ImageName">
                    </picture>
                }
            </div>
        </div>
    </div>

    @*<p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th></th>
                </tr>
            </thead>*@
    <!--<tbody>-->
    @*@foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ImageId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ImageId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ImageId">Delete</a>
                    </td>
                    <td>
                        <img src="@("image/"+item.ImageName)"/>
                    </td>
                </tr>
        }*@
    <!--</tbody>-->

