@model ProfileViewModel

@using Microsoft.AspNetCore.Identity
@using DSU21_5.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


<header id="gtco-simple-header" class="gtco-cover" role="banner" style="background-color: black;">
</header>

<!--<head>-->
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    @*<link rel="stylesheet" href="~/css/profile.css">*@
<!--</head>-->




<div class="profile-page">
   
    <div class="gtco-section border-bottom">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 animate-box">
                        <img src="~/image/@Model.Member.ProfilePicture" fallback="~/images/profile.jpeg" alt="Profile Photo" class="profile-photo" >
                        <h3 class="name-h3">@Model.Member.Firstname @Model.Member.Lastname</h3>
                        <div class="social-media-div" style="margin-bottom: 1%;">

                            @if (Model.Member.Facebook != null)
                            {
                                <a href="@Model.Member.Facebook" target="_blank">
                                    <img class="social-media" src="~/images/Facebook.png" />
                                </a>
                            }
                            @if (Model.Member.Twitter != null)
                            {
                                <a href="@Model.Member.Twitter" target="_blank">
                                    <img class="social-media" src="~/images/Twitter.png" />
                                </a>
                            }
                            @if (Model.Member.Instagram != null)
                            {
                                <a href="@Model.Member.Instagram" target="_blank">
                                    <img class="social-media" src="~/images/Instagram.png" />
                                </a>
                            }
                            @*else
                            {

                                    <a style="padding: 1%;">
                                        <img class="social-media" src="~/images/Facebook.png" />
                                    </a>
                                    <a style="padding: 1%;">
                                        <img class="social-media" src="~/images/Twitter.png" />
                                    </a>
                                    <a style="padding: 1%;">
                                        <img class="social-media" src="~/images/Instagram.png" />
                                    </a>
                            }*@


                        </div>
                        <div class="description text-left-bio">
                            <p id="bio">@Model.Member.Bio</p>
                        </div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model.Member.MemberId"><input type="submit" value="Edit profile" class="btn-danger" /></a>
                            <a asp-action="CreateExhibition" asp-route-id="@Model.Member.MemberId"><input type="submit" value="Create exhibition" class="btn-danger"></a>
                            <a asp-action="CreateArt" asp-route-id="@Model.Member.MemberId"><input type="submit" value="Upload Artwork" class="btn-danger"></a>

                        </div>
                    </div>
                    <div class="col-md-5 col-md-push-1 animate-box">
                        <div class="gtco-contact-info">
                            <h3>Friends</h3>
                            @foreach (var item in Model.AllArtwork)
                            {
                                <a href="#">
                                    <picture>
                                        <img class="friends" src="~/imagesArt/@item.ImageName">
                                    </picture>
                                </a>
                                @*<form asp-action="DeleteArt" asp-route-id="@item.ArtworkId" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                <input type="submit" value="Delete" class="btn-danger" />
            </form>*@

                            }
                            @*<ul>

            <li class="email"><a href="@Model.Member.Email">@Model.Member.Email</a></li>
            <li>

            </li>
            <li>
            </li>
        </ul>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="gtco-section border-bottom">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12">
                </div>
                <div class="artwork-container">
                    <h3>My Artwork</h3>

                                @foreach (var item in Model.AllArtwork)
                                {
                                        
                                            <picture>
                                                <img src="~/imagesArt/@item.ImageName">
                                            </picture>

                                            @*<form asp-action="DeleteArt" asp-route-id="@item.ArtworkId" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                                                <input type="submit" value="Delete" class="btn-danger" />
                                            </form>*@
                                        
                                }

                </div>
            </div>
        </div>
    </div>
   
</div>
 
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>




