@model IEnumerable<DSU21_5.Models.Image>

@{
    ViewData["Title"] = "Index";
}

<p>


</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-area="" asp-controller="Profile" asp-action="Create">Create New</a>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <!--<tbody>-->
    @*@foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ImageId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ImageId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ImageId">Delete</a>
                    </td>
                    <td>
                        <img src="@("image/"+item.ImageName)"/>
                    </td>
                </tr>
        }*@
    <!--</tbody>-->
    <a asp-area="" asp-controller="Profile" asp-action="Create">Create New</a>
</table>
    <a asp-area="" asp-controller="Profile" asp-action="Create">Create New</a>
