@model ArtworkViewModel
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<head>

<link rel="stylesheet" href="~/css/style.css">
</head>

<div class="gtco-loader"></div>



<header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url(images/banner1.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">


                <div class="row row-mt-15em">
                    <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                        <span class="intro-text-small">Counter-art: Global Showcase</span>
                        <h1>Bring the art gallery to your home.</h1>
                    </div>
                    <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                    </div>


                </div>
            </div>
        </div>
    </div>
</header>


 @*<div id="video-container">

    <div class="overlay">
        <video id="looper-video" playsinline autoplay loop muted>

            <source src="video/slowLookAround.mp4" type="video/mp4" />

        </video>
        <h3>Showcase your art to the world</h3>
    </div>
 </div>*@

<div id="gtco-products">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2>Featured Exhibitions</h2>
            </div>
        </div>
        <div class="row">
            <div class="owl-carousel owl-carousel-carousel">
                @for (int i = 0; i < Model.Exhibits.Count; i++)
                {
                    <div class="item">
                        <a asp-action="Index" asp-controller="Showroom" asp-route-id="@Model.Exhibits[i].Id">
                            <img src="imagesArt/@Model.ArtInExhibits.Where(x => x.ExhibitId == Model.Exhibits[i].Id).ElementAt(Model.random.Next(0, Model.ArtInExhibits.Where(x => x.ExhibitId == Model.Exhibits[i].Id).Count())).ImageName" alt="Exhibit" style="width: 300px; height: 225px; object-fit: cover;">
                            <div class="visit-exhibit">
                                <div class="text">Visit</div>
                            </div>
                        </a>
                        <p>@Model.Exhibits[i].Name <br>@Model.Exhibits[i].StartDate.Date.Year-@Model.Exhibits[i].StartDate.Date.Month-@Model.Exhibits[i].StartDate.Date.Day to @Model.Exhibits[i].StartDate.Date.Year-@Model.Exhibits[i].StartDate.Date.Month-@Model.Exhibits[i].StartDate.Date.Day</p>
                    </div>
                }
               
            </div>
        </div>
    </div>
</div>

    <div class="gtco-section border-bottom">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>Example Artworks</h2>
                </div>
            </div>
            <div class="row">
                @for (int i = 0; i < Model.CollectiveArt.Count; i++)
                {
                    <div class="col-lg-4 col-md-4 col-sm-6">

                        <a class="fh5co-project-item" asp-action="Index" asp-controller="ArtworkDetail" asp-route-id="@Model.ArtworkInformation[i].ArtId">
                            <figure>
                                <div class="overlay"><i class="ti-plus"></i></div>
                                <img src="~/imagesArt/@Model.ArtworkInformation[i].Source" alt="Image" class="img-responsive">
                            </figure>
                            <div class="fh5co-text">
                                <h2>@Model.ArtworkInformation[i].Title</h2>
                                <p>Uploaded by @Model.ArtworkInformation[i].Firstname @Model.ArtworkInformation[i].Lastname </p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>