@model RelationshipViewModel

@{
    ViewData["Title"] = "Search Results";
    Layout = "_Layout";
}

<header id="gtco-simple-header" class="gtco-cover" role="banner" style="background-color: black; width: 100%;">
</header>

<div class="search-result">
    <h1>Search results</h1>
    <div class="search-form">

        @foreach (var member in Model.Members)
        {
            <div class="searched-person">
                <form method="get" asp-action="Index" asp-controller="Search">
                    <div class="person-info">
                        <div class="search-img">
                            <img src="images/person_1.jpg" />
                        </div>
                        <div class="name-connection">
                            <h2>@member.Firstname @member.Lastname</h2>
                            <p>friend/mutual friend</p>
                        </div>
                    </div>
                </form>
                <form method="post" asp-action="SendFriendRequest" asp-controller="Search">
                    @*<div aria-label="addfriend" class="add-friend" role="button" tabindex="0">*@
                        <input class="send-request" name="requesteeId" type="submit" value="@member.MemberId" />
                        <i class="fas fa-user-plus" id="addIcon"></i>


                    @*</div>*@
                </form>
            </div>
        }

        <h1>Friends</h1>

        @foreach (var friend in Model.AcceptedFriends)
        {
            <div class="searched-person">
                <form method="get" asp-action="Index" asp-controller="Search">
                    <div class="person-info">
                        <div class="search-img">
                            <img src="images/person_1.jpg" />
                        </div>
                        <div class="name-connection">
                            <h2>@friend.Firstname @friend.Lastname</h2>
                            <p>friend/mutual friend</p>
                        </div>
                    </div>
                </form>
                @*<form method="post" asp-action="SendFriendRequest" asp-controller="Search">
                        <div aria-label="addfriend" class="add-friend" role="button" tabindex="0">
                            <i class="fas fa-user-plus" id="addIcon"></i>
                            <input type="submit" />

                        </div>
                    </form>*@
            </div>
        }





    </div>
</div>

<div>
    <h1>Friend Requests</h1>

    @foreach (var pendingFriend in Model.PendingFriends)
    {
        <div class="searched-person">
            <form method="get" asp-action="Index" asp-controller="Search">
                <div class="person-info">
                    <div class="search-img">
                        <img src="images/person_1.jpg" />
                    </div>
                    <div class="name-connection">
                        <h2>@pendingFriend.Firstname @pendingFriend.Lastname</h2>
                        <p>friend/mutual friend</p>
                    </div>
                </div>
            </form>
            <form method="post" asp-action="AcceptFriendRequest" asp-controller="Search">
                <div aria-label="addfriend" class="add-friend" role="button" tabindex="0">
                    @*<i class="fas fa-user-plus" id="addIcon"></i>*@
                    <input name="requesterId" type="submit" value="@pendingFriend.MemberId" />
                    @*<input name="answer" type="button" value="@pendingFriend.MemberId" />*@


                </div>
            </form>
            <form method="post" asp-action="DeclineFriendRequest" asp-controller="Search">
                <div aria-label="addfriend" class="add-friend" role="button" tabindex="0">
                    @*<i class="fas fa-user-plus" id="addIcon"></i>*@
                    <input name="requesterId" type="submit" value="@pendingFriend.MemberId" />
                    @*<input name="answer" type="button" value="@pendingFriend.MemberId" />*@


                </div>
            </form>
        </div>
    }
</div>