@model RelationshipViewModel

@{
    ViewData["Title"] = "Search Results";
    Layout = "_Layout";
}

<header id="gtco-simple-header" class="gtco-cover" role="banner" style="background-color: black; width: 100%;">
</header>

<div class="search-result">
    <h1>Search results</h1>
    <div class="search-form">

        @foreach (var member in Model.Members)
        {
            <div class="searched-person">
                <form method="get" asp-action="Index" asp-controller="Search">
                    <div class="person-info">
                        <div class="search-img">
                            <img src="images/person_1.jpg" />
                        </div>
                        <div class="name-connection">
                            <h2>@member.Firstname @member.Lastname</h2>
                            <p>friend/mutual friend</p>
                        </div>
                    </div>
                </form>
                <form asp-controller="Search" asp-action="SendFriendRequest" asp-route-id="@member.MemberId">
                    <input type="submit" value="Add Friend" class="btn btn-primary" />
                </form>
            </div>
        }

        <h1>Friends</h1>

        @foreach (var friend in Model.AcceptedFriends)
        {
            <div class="searched-person">
                <form method="get" asp-action="Index" asp-controller="Search">
                    <div class="person-info">
                        <div class="search-img">
                            <img src="images/person_1.jpg" />
                        </div>
                        <div class="name-connection">
                            <h2>@friend.Firstname @friend.Lastname</h2>
                            <p>friend/mutual friend</p>
                        </div>
                    </div>
                </form>
            </div>
        }

        <h1>Friend Requests</h1>

        @foreach (var pendingFriend in Model.PendingFriends)
        {
            <div class="searched-person">
                <form method="get" asp-action="Index" asp-controller="Search">
                    <div class="person-info">
                        <div class="search-img">
                            <img src="images/person_1.jpg" />
                        </div>
                        <div class="name-connection">
                            <h2>@pendingFriend.Firstname @pendingFriend.Lastname</h2>
                            <p>friend/mutual friend</p>
                        </div>
                    </div>
                </form>
                <form asp-controller="Search" asp-action="AcceptFriendRequest" asp-route-id="@pendingFriend.MemberId">
                    <input type="submit" value="Accept" class="btn btn-primary" />
                </form>
                <form asp-controller="Search" asp-action="DeclineFriendRequest" asp-route-id="@pendingFriend.MemberId">
                    <input type="submit" value="Decline" class="btn btn-primary" />
                </form>




            </div>
        }
    </div>
</div>